{% extends 'base.html' %}

{% block content %}
    <h1>About TrackMyTri</h1>
    <p>The app strives to provide a simple and concise way to store your training data.</p>
    <p>Current Features:</p>
    <ul>
        <li>individual account creation</li>
        <li>Account Registration and Sign-in Functionality</li>
        <li>Store swimming, biking, and running workouts</li>
        <li>Review stored workouts</li>
        <li>Improved user dashboard features</li>
    </ul>
    <p>Future Features:</p>
    <ul>
        <li>Workout Analysis</li>
    </ul>
{% endblock %}
